body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em;
}

.project {
    margin-bottom: 1em;
}

.project h3 {
    margin-top: 0;
}

nav {
    background-color: #34495E; /* Background color */
    text-align: center; /* Center align the list */
    padding: 0.5em 0; /* Add some padding */
}

nav ul {
    list-style-type: none; /* Remove bullets from list */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute items evenly */
}

nav ul li {
    display: inline; /* Display list items horizontally */
}

nav ul li a {
    display: inline-block; /* Make the link a block element */
    padding: 10px 20px; /* Add padding to each link */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    transition: color 0.3s; /* Add transition effect for color change */
}

nav ul li a:hover {
    color: #FFD700; /* Text color on hover */
}

#about, #projects, #contact {
    padding: 20px;
    background-color: #e9e9e9;
    margin: 10px;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #ffc107;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

