body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em;
}

.project {
    margin-bottom: 1em;
}

.project h3 {
    margin-top: 0;
}

nav {
    background-color: #6c757d; /* Background color */
    text-align: center; /* Center align the list */
    padding: 0.5em 0; /* Add some padding */
}

nav ul {
    list-style-type: none; /* Remove bullets from list */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute items evenly */
}

nav ul li {
    display: inline; /* Display list items horizontally */
}

nav ul li a {
    display: inline-block; /* Make the link a block element */
    padding: 10px 20px; /* Add padding to each link */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    transition: color 0.3s; /* Add transition effect for color change */
}

nav ul li a:hover {
    color: black; /* Text color on hover */
}