body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1, h3 {
    margin: 0;
}

nav {
    background-color: #34495E;
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

section h1{
    text-align: center;
}

#about, #projects, #contact {
    padding: 50px;
    background-color: #d6d6d6cd;
    margin: 50px;
    margin-bottom: 150px;
}

.project h4 {
    margin: 0;
}

#contact p {
    text-align: center;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1em 0;
}

footer a {
    color: #ffc107;
    text-decoration: none;
    margin: 0 5px;

}

footer a:hover {
    text-decoration: underline;
}

footer p{
   margin: 0;
}

.about-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-evenly;
}

.about-container img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    order: 2;
}

.about-text {
    max-width: 600px;
    order: 1;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack items vertically on small screens */
        text-align: center; /* Center text */
    }

    .about-container img {
        margin-left: 0; /* Remove left margin */
        margin-top: 20px; /* Add top margin */
        margin-bottom: 20px;
        order: 1; /* Image first on small screens */
    }

    .about-text {
        order: 2; /* Text second on small screens */
    }
}